<!-- <p *ngFor="let tempProducts of products">
    {{ tempProducts.name }}: {{ tempProducts.unitPrice | currency:'USD' }}
</p> -->

<!-- <table class="table">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Units in stock</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempProducts of products">
            <td class="align-middle"><img src="{{ tempProducts.imageUrl }}" height="50" /></td>
            <td class="align-middle">{{ tempProducts.name }}</td>
            <td class="align-middle">{{ tempProducts.unitPrice | currency:'USD'  }}</td> 
            <td class="align-middle">{{ tempProducts.unitsInStock }} </td>
        <tr> 
    </tbody>
</table> -->

<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let tempProducts of products" class="col-md-3">
          <div class="product-box">
            <img src="{{ tempProducts.imageUrl }}" class="img-responsive" />
            <h1>{{ tempProducts.name }}</h1>
            <div class="price">{{ tempProducts.unitPrice | currency:'USD'  }}</div>
            <a href="#" class="primary-btn">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>